<div class="relative h-screen overflow-x-auto mb-8 bg-white">
  <div class="flex items-center justify-between flex-column pl-6 flex-wrap md:flex-row md:space-y-0 bg-white dark:bg-gray-900">
    <div class="py-5">
      <% breadcrumbs = [["Hacks", hacks_path], [@hack.title, ""]] unless  @channel %>
      <% breadcrumbs ||= [["Channels", channels_path], [@channel.name, channel_path(@channel)], [@hack.title, ""]] %>
      <%= render partial: "layouts/breadcrumbs", locals: { breadcrumbs: breadcrumbs } %>
    </div>
    <div class="mr-2">

    </div>
  </div>

  <div>
    <ul class="flex flex-wrap -mb-px font-medium text-center list-none  px-2"
        id="default-tab"
        data-tabs-toggle="#channel-tab-content"
        role="tablist">
      <li class="me-2" role="presentation">
        <button class="inline-block p-4 border-b-2 rounded-t-lg" id="basic-tab"
                data-tabs-target="#basic-tab-content" type="button" role="tab" aria-controls="basic-tab"
                aria-selected="0"
        >
          Basic Information
        </button>
      </li>
      <li class="me-2" role="presentation">
        <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                id="advanced-tab" data-tabs-target="#advanced-tab-content" type="button" role="tab"
                aria-controls="advanced" >
          Advanced Information
        </button>
      </li>
    </ul>
  </div>

  <div id='basic-tab-content'>
    <%= render partial: "basic", locals: { hack: @hack} %>
  </div>

  <div id='advanced-tab-content'>
    <%= render partial: "advanced", locals: { hack: @hack} %>
  </div>

</div>