<%# flash.each do |key, msg| %>
<!--  <div class="flex items-center justify-between px-8 py-4 bg-amber-100">-->
    <%#= msg %>
<!--    <a href="javascript:;" class="font-semibold text-white">an example link</a>. Give it a click if you like.-->
<!--    <button alert-close type="button" onclick="closeFlashAlert()" class="box-content absolute top-0 right-0 p-4 text-sm text-white bg-transparent border-0 rounded w-4 h-4 z-2">-->
<!--      <span aria-hidden="true" class="text-center cursor-pointer">&#10005;</span>-->
<!--    </button>-->
<!--  </div>-->
<%# end %>
